.form {
  margin-top: 6rem;
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  /* TEST */
  width: 50%;
  padding: 0;
  height: 80vh;
}

/* TEST */
.previewDiv {
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75vh;
}
.previewBox {
  width: 40%;
  font-size: 52.5%;
  overflow-y: scroll;
  max-height: 76%;
  min-height: 76%;
  border: solid;
  
  /* margin-left: 12; */
  /* width: 40%; */
  /* height: 100%; */
}
.newww{
  text-align: center;
  font-size: large;
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5vh 2.5vw;
  width: 100%;
  gap: 1em;
  border: #3c4146 solid;
}
/* TEST END */

/* .fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5vh 2.5vw;
  width: 60%;
  gap: 1em;
  border: rgb(43, 10, 43) solid;
} */
.legend {
  font-size: 1.5em;
  padding: 0 1em;
  letter-spacing: 0.9px;
  color: rgb(43, 10, 43);
}

.input {
  height: 5vh;
  width: 80%;
  /* border: transparent; */
  font-size: 1.7em;
  padding-left: 0.5em;
  outline: none;
  border-color:#dddfe8;
  color: #364260;
  letter-spacing: 0.7px;
}
.label {
  font-size: 1.6em;
  color: rgb(43, 10, 43);
}
.btn {
  height: 5vh;
  width: 60%;
  border: transparent;
  font-size: 1.7em;
  background-color: #00bfff;
  color: white;
  letter-spacing: 0.7px;
  cursor: pointer;
  margin-top: 5vh;
}
.btn:hover {
  background-color: #1e94f3;
}
.feedback {
  color: rgb(43, 10, 43);
  font-size: 1.8em;
  letter-spacing: 0.8px;
}
.codeBtnBox {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEST */

@media (max-width: 798px) {
  .previewDiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .form {
    width: 90%;
  }
  .previewBox {
    width: 90%;
  }
}
